<h1>List of Students</h1>
<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>

  <% end %>
<br>
<br>
  <%= button_to "New Student", new_student_path, method: :get %>
</div>